<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coolfindservices.androidconsumer"
    android:versionCode="34"
    android:versionName="2.0.3">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.coolfindservices.androidconsumer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.coolfindservices.androidconsumer.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <uses-permission android:name="android.permission.SEND_SMS"/>



    <!--<uses-feature-->
        <!--android:name="android.hardware.camera"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera.autofocus"-->
        <!--android:required="false" />-->

    <application
        android:name="com.pa.common.MyApplication"
        tools:replace="android:icon,android:theme,android:label"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data android:name="com.facebook.sdk.ApplicationName"
                   android:value="@string/app_name"/>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider267822476903311"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <activity
            android:name="com.coolfindservices.android.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.coolfindservices.consumer" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pa.splash.ActivityLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pa.splash.ActivityRegister"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pa.splash.ActivitySignIn"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pa.bid.ActivityBid"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pa.landing.ActivityLanding"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="jim.h.common.android.lib.zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.molpay.molpaylib.MOLPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.hipmob.android.HipmobCore"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name="com.hipmob.android.HipmobHelpDeskArticleViewActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name="com.hipmob.android.HipmobHelpDeskSearchActivity"
            android:theme="@android:style/Theme.Light" />
        <activity android:name="com.pa.payment.WebscreenPaypal" >
        </activity>
        <activity android:name="com.braintreepayments.api.dropin.BraintreePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity
            android:name="com.paypal.android.sdk.payments.PayPalTouchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <receiver
            android:name="com.coolfindservices.android.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.coolfindservices.android" />
            </intent-filter>
        </receiver>

        <service android:name="com.coolfindservices.android.GCMNotificationIntentService" />

        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.google.ads.conversiontracking.InstallReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dea26a84bd4349f3fc53b313c33f832c92fc5571" />
    </application>

</manifest>